<div class="search">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            Employee ID
            <input type="text" class="form-control" placeholder="" #id (keyup)="search(id.value,name.value,dateText.value)" [value]="employeeId"/>            Name
            <input type="text" class="form-control" placeholder="" #name (keyup)="search(id.value,name.value,dateText.value)" [value]="employeeName" />            Joining dataes
            <input type="text" class="form-control" placeholder="" #dateText (change)="search(id.value,name.value,dateText.value)" [value]="employeeDate"
            />
            <date-picker [value]="value" 
                         [minDate]="minDate" [maxDate]="maxDate" 
                         [disableDays]="disableDays"
                         [toContainPrevMonth]="toContainPrevMonth"
                         [toContainNextMonth]="toContainNextMonth" 
                         (selectedDate)='setDate($event)'>
           </date-picker>
        </div>
        <button type="" class="btn btn-default" (click)="search(id.value,name.value,dateText.value)">Search</button>
    </form>
</div>